.App {
  text-align: center;
}

body {
  background-image: url('background.jpg');
  background-size: cover;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardContent {
  background-color: red;
}

.title {
  font-family: 'Bebas Neue', cursive;
  margin: 2%;
  color: rgba(0, 0, 0, 0.0);
  font-size: 600%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.navBar {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  color: black;
}

.navItem {
  color: white;
}

.menuItem {
  color: black;
}

.discPrice {
  color: red;
}

.origPrice {
  text-decoration: line-through;
}

.cardButtons {
  padding: 2%;
}

.createItemDiv {
  margin: 2%;
}

.itemList {
  margin: 3%;
}

.createList {
  margin: 2%;
}

.icon {
  height: 75px;
  margin-left: 1%;
}

.itemContent {
  height: 100px;
}

